{% extends "_layout" %}
{% set title = "Cedar Tree Removal" %}
{% set blockImage = {
 mode: 'crop',
 width: 440,
 position: 'top-center'
} %}
{% block content %}

{% include 'page-parts/_aboutHero.html' %}

<div class="page-content">
    <div class="col-md-12 page-body">
        <h1 class="body-title">{{entry.title}}</h1>
    </div>
    <div class="col-md-12 page-body">    
        <div class="col-md-3">
        </div>
        <div class="col-md-6 left">
            <p>{{ entry.body }}</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>

{% if entry.serviceImages | length %}

    <div class="col-sm-12">
        <div class="service__carousel print_hidden" style="background-image:url({{ craft.config.oaapi }}/{{ service.fields.categories[0].cover_photo }});">
          <section>
            <ul>
              {% for slide in entry.serviceImages %}
              {% set slideImg = craft.imager.transformImage(slide.url, { width: 500}) %}
                <li><div class="service__carousel__wrapper"><img src="{{ slideImg }}" /></div></li>
              {% endfor %}
            </ul>
            <div class="service__carousel__arrows">
              <button type="button" class="service__carousel__arrows__prev"><span>Previous</span></button>
              <button type="button" class="service__carousel__arrows__next"><span>Next</span></button>
            </div>
          </section>
        </div>
    </div>
    {% endif %}

    </div>
</div>
{% endblock %}