{% extends "_layout" %}
{% set title = "Cedar Tree Removal" %}
{% set blockImage = {
 mode: 'crop',
 width: 440,
 position: 'top-center'
} %}

{% block content %}

  <div class="page">
    <div class="col-md-12 page-body">
        <div class="logo-div">
            <img class="logo" src="{{ siteLogo.logo.first().url }}">
        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-6 left service-body">
      <h1 class="service-title left">{{entry.title}}</h1><br>
      <p>{{ entry.body }}</p>
    </div>
    <div class="col-md-3"></div>

<div class="col-sm-12">
    <div class="service__carousel print_hidden" style="background-image:url({{ craft.config.oaapi }}/{{ service.fields.categories[0].cover_photo }});">
      <section>
        <ul>
          {% for slide in entry.serviceImages %}
          {% set slideImg = craft.imager.transformImage(slide.url, { width: 500}) %}
            <li><div class="service__carousel__wrapper"><img src="{{ slideImg }}" /></div></li>
          {% endfor %}
        </ul>
        <div class="service__carousel__arrows">
          <button type="button" class="service__carousel__arrows__prev"><span>Previous</span></button>
          <button type="button" class="service__carousel__arrows__next"><span>Next</span></button>
        </div>
      </section>
    </div>
</div>

        {% if entry.videoUrl | length %}
            {% for vid in entry.videoUrl %}
                <div class="col-md-12 video">
                    <br><br>{{ vid.embedIframe | raw }}<br><br>
                </div>
            {% endfor %}
            <div class="body__video">
                {{ entry.videoUrl |videoEmbed({ byline: 1, autoplay: 0, height: "320px" })}}
            </div>
        {% endif %}


  </div>
{% endblock %}